* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $primary-white-color;
  font-family: $font-primary;
  color: $text-color;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
svg {
  display: block;
}
input {
  border: none;
  outline: none;
}
input:hover {
  outline: none;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}
ul {
  list-style-type: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  &--top {
    background: $primary-white-color;
  }

  @media screen and (min-width: 767px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    max-width: 720px;
    padding: 0 24px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1232px;
    padding: 0 24px;
  }
}
.section {
  padding-bottom: 60px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 100px;
  }
  &--hero-padding {
    padding-top: 95px;
    padding-bottom: 0;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      padding-top: 119px;
      padding-bottom: 0;
    }

    @media screen and (min-width: 1280px) {
      padding-top: 149px;
      padding-bottom: 0;
    }
  }
}
.btn--position {
  display: flex;
  justify-content: center;
  align-items: center;
}
