<!-- PODPIĄĆ TE SKRYPTY W INDEXIE ZARAZ ZA BODY
Swiper JS
<script src="js/swiper-bundle.min.js"></script>

JavaScript
<script src="js/script.js"></script> 



-->

<section class="blog">
  <div class="container">
    <div class="header-title">
      <h2 class="section__title">Blog</h2>
      <div class="line"></div>
    </div>

    <div class="slide-container swiper">
      <div class="slide-content">
        <div class="card-wrapper swiper-wrapper">
          <div class="swiper-slide">
            <div class="image-content">
              <img
                class="card-img"
                src="images/flowers-image2-desktop@1x.jpg"
                srcset="
                  ./images/flowers-image2-mobile@1x.jpg  136w,
                  ./images/flowers-image2-mobile@2x.jpg  272w,
                  ./images/flowers-image2-tablet@1x.jpg  344w,
                  ./images/flowers-image2-tablet@2x.jpg  688w,
                  ./images/flowers-image2-desktop@1x.jpg 390w,
                  ./images/flowers-image2-desktop@2x.jpg 780w
                "
                sizes="
                        (max-width: 767px) 136px,  
                        (max-width: 1199px) 344px, 688w"
                alt="Flowers with olive petals on a gray background"
              />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="image-content">
              <img
                class="card-img"
                src="images/flowers-image1-desktop@1x.jpg"
                srcset="
                  ./images/flowers-image1-mobile@1x.jpg  136w,
                  ./images/flowers-image1-mobile@2x.jpg  272w,
                  ./images/flowers-image1-tablet@1x.jpg  344w,
                  ./images/flowers-image1-tablet@2x.jpg  688w,
                  ./images/flowers-image1-desktop@1x.jpg 390w,
                  ./images/flowers-image1-desktop@2x.jpg 780w
                "
                sizes="
                        (max-width: 767px) 136px,  
                        (max-width: 1199px) 344px, 688w"
                alt="Flower with orange and red petals on a salmon colored background"
              />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="image-content">
              <img
                class="card-img"
                src="images/flowers-image3-desktop@1x.jpg"
                srcset="
                  ./images/flowers-image3-mobile@1x.jpg  136w,
                  ./images/flowers-image3-mobile@2x.jpg  272w,
                  ./images/flowers-image3-tablet@1x.jpg  344w,
                  ./images/flowers-image3-tablet@2x.jpg  688w,
                  ./images/flowers-image3-desktop@1x.jpg 390w,
                  ./images/flowers-image3-desktop@2x.jpg 780w
                "
                sizes="
                        (max-width: 767px) 136px,  
                        (max-width: 1199px) 344px, 688w"
                alt="Flower with blue petals on a very light violet background"
              />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="image-content">
              <img
                class="card-img"
                src="images/flowers-image2-desktop@1x.jpg"
                srcset="
                  ./images/flowers-image2-mobile@1x.jpg  136w,
                  ./images/flowers-image2-mobile@2x.jpg  272w,
                  ./images/flowers-image2-tablet@1x.jpg  344w,
                  ./images/flowers-image2-tablet@2x.jpg  688w,
                  ./images/flowers-image2-desktop@1x.jpg 390w,
                  ./images/flowers-image2-desktop@2x.jpg 780w
                "
                sizes="
                        (max-width: 767px) 136px,  
                        (max-width: 1199px) 344px, 688w"
                alt="Flowers with olive petals on a gray background"
              />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="image-content">
              <img
                class="card-img"
                src="images/flowers-image1-desktop@1x.jpg"
                srcset="
                  ./images/flowers-image1-mobile@1x.jpg  136w,
                  ./images/flowers-image1-mobile@2x.jpg  272w,
                  ./images/flowers-image1-tablet@1x.jpg  344w,
                  ./images/flowers-image1-tablet@2x.jpg  688w,
                  ./images/flowers-image1-desktop@1x.jpg 390w,
                  ./images/flowers-image1-desktop@2x.jpg 780w
                "
                sizes="
                        (max-width: 767px) 136px,  
                        (max-width: 1199px) 344px, 688w"
                alt="Flower with orange and red petals on a salmon colored background"
              />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="image-content">
              <img
                class="card-img"
                src="images/flowers-image3-desktop@1x.jpg"
                srcset="
                  ./images/flowers-image3-mobile@1x.jpg  136w,
                  ./images/flowers-image3-mobile@2x.jpg  272w,
                  ./images/flowers-image3-tablet@1x.jpg  344w,
                  ./images/flowers-image3-tablet@2x.jpg  688w,
                  ./images/flowers-image3-desktop@1x.jpg 390w,
                  ./images/flowers-image3-desktop@2x.jpg 780w
                "
                sizes="
                        (max-width: 767px) 136px,  
                        (max-width: 1199px) 344px, 688w"
                alt="Flower with blue petals on a very light violet background"
              />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="image-content">
              <img
                class="card-img"
                src="images/flowers-image2-desktop@1x.jpg"
                srcset="
                  ./images/flowers-image2-mobile@1x.jpg  136w,
                  ./images/flowers-image2-mobile@2x.jpg  272w,
                  ./images/flowers-image2-tablet@1x.jpg  344w,
                  ./images/flowers-image2-tablet@2x.jpg  688w,
                  ./images/flowers-image2-desktop@1x.jpg 390w,
                  ./images/flowers-image2-desktop@2x.jpg 780w
                "
                sizes="
                        (max-width: 767px) 136px,  
                        (max-width: 1199px) 344px, 688w"
                alt="Flowers with olive petals on a gray background"
              />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="image-content">
              <img
                class="card-img"
                src="images/flowers-image1-desktop@1x.jpg"
                srcset="
                  ./images/flowers-image1-mobile@1x.jpg  136w,
                  ./images/flowers-image1-mobile@2x.jpg  272w,
                  ./images/flowers-image1-tablet@1x.jpg  344w,
                  ./images/flowers-image1-tablet@2x.jpg  688w,
                  ./images/flowers-image1-desktop@1x.jpg 390w,
                  ./images/flowers-image1-desktop@2x.jpg 780w
                "
                sizes="
                        (max-width: 767px) 136px,  
                        (max-width: 1199px) 344px, 688w"
                alt="Flower with orange and red petals on a salmon colored background"
              />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="image-content">
              <img
                class="card-img"
                src="images/flowers-image3-desktop@1x.jpg"
                srcset="
                  ./images/flowers-image3-mobile@1x.jpg  136w,
                  ./images/flowers-image3-mobile@2x.jpg  272w,
                  ./images/flowers-image3-tablet@1x.jpg  344w,
                  ./images/flowers-image3-tablet@2x.jpg  688w,
                  ./images/flowers-image3-desktop@1x.jpg 390w,
                  ./images/flowers-image3-desktop@2x.jpg 780w
                "
                sizes="
                        (max-width: 767px) 136px,  
                        (max-width: 1199px) 344px, 688w"
                alt="Flower with blue petals on a very light violet background"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
    <h3 class="header-blog-newsletter">Follow to our newsletter</h3>
    <button class="button" data-modal-open>Subscribe</button>
  </div>
</section>
