<section class="delivery section" id="delivery">
  <div class="container">
    <h2 class="section__title">DELIVERY</h2>
    <div class="section__delivery">
      <ul class="delivery__list">
        <li class="delivery__item">
          <div class="delivery__number">1</div>
          <p class="delivery__text">Choose your bouquet and make an order on website</p>
        </li>
        <li class="delivery__item">
          <div class="delivery__number">2</div>
          <p class="delivery__text">
            Wait for the call to clarify the details of the order.You can pay online or to the
            courier
          </p>
        </li>
        <li class="delivery__item">
          <div class="delivery__number">3</div>
          <p class="delivery__text">
            Wait for the delivery at the selected time or pick up the order from the store
          </p>
        </li>
        <li class="delivery__item">
          <div class="delivery__number">4</div>
          <p class="delivery__text">Make someone happy or enjoy yourself</p>
        </li>
      </ul>
    </div>

    <div class="sectionImage">
      <picture>
        <source
          media="(min-width:1280px)"
          srcset="
            ./images/image-delivery-desktop@2x.jpg 2x,
            ./images/image-delivery-desktop@1x.jpg 1x
          "
          type="images/jpg"
        />
        <source
          media="(min-width:768px)"
          srcset="
            ./images/image-delivery-tablet@2x.jpg 2x,
            ./images/image-delivery-tablet@1x.jpg 1x
          "
          type="images/jpg"
        />
        <source
          media="(max-width:767px)"
          srcset="
            ./images/image-delivery-mobile@2x.jpg 2x,
            ./images/image-delivery-mobile@1x.jpg 1x
          "
          type="images/jpg"
        />
        <img
          src="./images/image-delivery-mobile@2x.jpg"
          alt="flower size M"
          width="1280"
          height="391"
        />
      </picture>
    </div>
  </div>
</section>
