<section class="section">
  <div class="container">
    <h2 class="section__title">DELIVERY</h2>
    <ul class="delivery">
      <li class="delivery__item">
        <div class="delivery__number">1</div>
        <p class="delivery__text">Choose your bouquet and make an order on website</p>
      </li>
      <li class="delivery__item">
        <div class="delivery__number">2</div>
        <p class="delivery__text">
          Wait for the call to clarify the details of the order.You can pay online or to the courier
        </p>
      </li>
      <li class="delivery__item">
        <div class="delivery__number">3</div>
        <p class="delivery__text">
          Wait for the delivery at the selected time or pick up the order from the store
        </p>
      </li>
      <li class="delivery__item">
        <div class="delivery__number">4</div>
        <p class="delivery__text">Make someone happy or enjoy yourself</p>
      </li>
    </ul>
    <picture class="delivery__photo">
      <source
        media="(min-width:1280px)"
        srcset="
          ./images/imagedelivery2xdesktop2560x782.jpg 2x,
          ./images/imagedelivery1xdesktop1280x391.jpg 1x
        "
        type="images/jpg"
      />
      <source
        media="(min-width:768px)"
        srcset="
          ./images/imagedelivery2xtablet1536x528.jpg 2x,
          ./images/imagedelivery1xtablet768x264.jpg  1x
        "
        type="images/jpg"
      />
      <source
        media="(max-width:767px)"
        srcset="
          ./images/imagedelivery2xmobile640x270.jpg 2x,
          ./images/imagedelivery1xmobile320x135.jpg 1x
        "
        type="images/jpg"
      />
      <img src="./images/delivery/imagedelivery1xdesktop1280x391.jpg" alt="flower size M" />
    </picture>
  </div>
</section>
