<footer>
    <div class="container footer">
      <div class="footer__logo">
        <a href="#">
          <svg class="footer__logo--icon" width="73" height="57">
            <use href="./images/icons.svg#icon-company-logo"></use>
          </svg>
        </a>
      </div>
      <div class="footer__nav">
        <nav>
          <p class="footer__title footer__title--space">
            Navigation
          </p>
          <ul class="footer__list">
            <li>
              <a href="#" class="footer__text">Anemone</a>
            </li>
            <li>
              <a href="#about-us" class="footer__text">About us</a>
            </li>
            <li>
              <a href="#store" class="footer__text">Store</a>
            </li>
            <li>
              <a href="#delivery" class="footer__text">Delivery</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer__times">
        <p class="footer__title">Opening times</p>
        <p class="footer__text">Every day<br />09:00-22:00</p>
      </div>
      <div class="footer__contacts">
        <adress>
          <p class="footer__title footer__contacts">Contacts</p>
          <ul class="footer__list"> 
            <li>
              <a href="tel:+380631234567" class="footer__text"
                >+38 063 123 45 67</a
              >
            </li>
            <li class="footer__email">
              <a
                href="mailto:anemonestudio@example.com"
                class="footer__text"
                >anemonestudio@example.com</a
              >
            </li>
            <li class="footer__email--separated">
              <a
                href="mailto:anemonestudio@example.com"
                class="footer__text"
                >anemonestudio</br>@example.com</a
              >
            </li>
            <li>
              <a
                href="https://goo.gl/maps/vm8GR5CcjpBVpuev8"
                target="_blank"
                rel="noopener noreferrer"
                class="footer__text"
                >Reitarska Street, 11</br>Kyiv, Ukraine</a
              >
            </li>
          </ul>
        </adress>
      </div>
      <div>
        <ul class="footer__socials">
          <li>
            <a href="#">
              <svg class="footer__icon" width="28" height="28">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#">
              <svg class="footer__icon" width="28" height="28">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
