<div class="container">
  <h1 class="hero__title">Anemone</h1>
  <h2 class="hero__title--secondary">flower studio</h2>
  <div class="hero__img">
    <!-- <picture>
      <source media="(min-width:1280px)" srcset="link 2x, link 1x" type="image/webp" />
      <source media="(min-width:768px)" srcset="link 2x, link 1x" type="image/webp" />
      <source media="(max-width:767.98px)" srcset="link 2x, link 1x" type="image/webp" />
      <img src="" alt="" width="" height="" />
    </picture> -->
  </div>

  <section class="about section">
    <div class="container">
      <h2 class="section__title">ABOUT</h2>
      <div>
        <p>
          We are a minimalistic flower studio. We love people and flowers. Therefore, every day we
          give people the beauty and joy creating stylish and modern masterpieces. Every bouquet we
          create is unique as you are.
        </p>
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="./img/image-about-desktop@2x.png 2x, ./img/image-about-desktop@1x.png 1x"
            type="image/png"
          />
          <source
            media="(min-width:768px)"
            srcset="./img/image-about-tablet@2x.png 2x, ./img/image-about-tablet@1x.png 1x"
            type="image/png"
          />
          <source
            media="(max-width:767.98px)"
            srcset="./img/image-about-mobile@2x.png 2x, ./img/image-about-mobile@1x.png 1x"
            type="image/png"
          />
          <img src="/img/image-about-desktop@1x.png" alt="flowers" width="632" height="344" />
        </picture>
      </div>
    </div>
  </section>

  <section class="store section">
    <div>
      <h2 class="section__title">STORE</h2>
      <ul>
        <li>
          <div>
            <picture>
              <source
                media="(min-width:1280px)"
                srcset="./img/bouquet3-desktop@2x.png 2x, ./img/bouquet3-desktop@1x.png 1x"
                type="image/png"
              />
              <source
                media="(min-width:768px)"
                srcset="./img/bouquet3-tablet@2x.jpg 2x, ./img/bouquet3-tablet@1x.jpg 1x"
                type="image/jpg"
              />
              <source
                media="(max-width:767.98px)"
                srcset="./img/bouquet3-mobile@2x.jpg 2x, ./img/bouquet3-mobile@1x.jpg 1x"
                type="image/jpg"
              />
              <img src="./img/bouquet3-desktop@1x.png" alt="flower compliments" />
            </picture>
            <h3 class="store__product-name">compliments</h3>
            <p>from $15</p>
          </div>
        </li>
        <li>
          <div>
            <picture>
              <source
                media="(min-width:1280px)"
                srcset="./img/bouquet1-desktop@2x.jpg 2x, ./img/bouquet1-desktop@1x.jpg 1x"
                type="image/jpg"
              />
              <source
                media="(min-width:768px)"
                srcset="./img/bouquet1-tablet@2x.jpg 2x, ./img/bouquet1-tablet@1x.jpg 1x"
                type="image/jpg"
              />
              <source
                media="(max-width:767.98px)"
                srcset="./img/bouquet1-mobile@2x.jpg 2x, ./img/bouquet1-mobile@1x.jpg 1x"
                type="image/jpg"
              />
              <img src="./img/bouquet1-desktop@1x.png" alt="flower size S" />
            </picture>
            <h3 class="store__product-name">bouquets size S</h3>
            <p>from $25</p>
          </div>
        </li>
        <li>
          <div>
            <picture>
              <source
                media="(min-width:1280px)"
                srcset="./img/bouquet2-desktop@2x.jpg 2x, ./img/bouquet2-desktop@1x.jpg 1x"
                type="image/jpg"
              />
              <source
                media="(min-width:768px)"
                srcset="./img/bouquet2-tablet@2x.jpg 2x, ./img/bouquet2-tablet@1x.jpg 1x"
                type="image/jpg"
              />
              <source
                media="(max-width:767.98px)"
                srcset="./img/bouquet2-mobile@2x.jpg 2x, ./img/bouquet2-mobile@1x.jpg 1x"
                type="image/jpg"
              />
              <img src="./img/bouquet2-desktop@1x.png" alt="flower size M" />
            </picture>
            <h3 class="store__product-name">bouquets size M</h3>
            <p>from $45</p>
          </div>
        </li>
        <li>
          <div>
            <picture>
              <source
                media="(min-width:1280px)"
                srcset="./img/bouquet4-desktop@2x.jpg 2x, ./img/bouquet4-desktop@1x.jpg 1x"
                type="image/jpg"
              />
              <source
                media="(min-width:768px)"
                srcset="./img/bouquet4-tablet@2x.jpg 2x, ./img/bouquet4-tablet@1x.jpg 1x"
                type="image/jpg"
              />
              <source
                media="(max-width:767.98px)"
                srcset="./img/bouquet4-mobile@2x.jpg 2x, ./img/bouquet4-mobile@1x.jpg 1x"
                type="image/jpg"
              />
              <img src="./img/bouquet4-desktop@1x.png" alt="flower size L" />
            </picture>
            <h3 class="store__product-name">bouquets size L</h3>
            <p>from $60</p>
          </div>
        </li>
      </ul>
      <button type="button" data-modal-open>Order flowers</button>
    </div>
  </section>

  <section class="delivery section">
    <div class="container">
      <h2 class="section__title">DELIVERY</h2>
      <ul>
        <li>
          <div>1</div>
          <p>Choose your bouquet and make an order on website</p>
        </li>
        <li>
          <div>2</div>
          <p>
            Wait for the call to clarify the details of the order. You can pay online or to the
            courier
          </p>
        </li>
        <li>
          <div>3</div>
          <p>Wait for the delivery at the selected time or pick up the order from the store</p>
        </li>
        <li>
          <div>4</div>
          <p>Make someone happy or enjoy yourself</p>
        </li>
      </ul>
    </div>
    <picture>
      <source
        media="(min-width:1280px)"
        srcset="./img/image-delivery-desktop@2x.jpg 2x, ./img/image-delivery-desktop@1x.jpg 1x"
        type="image/jpg"
      />
      <source
        media="(min-width:768px)"
        srcset="./img/image-delivery-tablet@2x.jpg 2x, ./img/image-delivery-tablet@1x.jpg 1x"
        type="image/jpg"
      />
      <source
        media="(max-width:767.98px)"
        srcset="./img/image-delivery-mobile@2x.jpg 2x, ./img/image-delivery-mobile@1x.jpg 1x"
        type="image/jpg"
      />
      <img src="./img/image-delivery-desktop@1x.jpg" alt="flowers" width="1280" height="391" />
    </picture>
  </section>

  <section class="blog section">
    <div class="container">
      <h2 class="section__title">BLOG</h2>
      <div>
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="./img/flowers-image2-desktop@2x.jpg 2x, ./img/flowers-image2-desktop@1x.jpg 1x"
            type="image/jpg"
          />
          <source
            media="(min-width:768px)"
            srcset="./img/flowers-image2-tablet@2x.jpg 2x, ./img/flowers-image2-tablet@1x.jpg 1x"
            type="image/jpg"
          />
          <source
            media="(max-width:767.98px)"
            srcset="./img/flowers-image2-mobile@2x.jpg 2x, ./img/flowers-image2-mobile@1x.jpg 1x"
            type="image/jpg"
          />
          <img src="flowers-image2-desktop@1x.jpg" alt="flowers" width="390" height="421" />
        </picture>
      </div>
      <div>
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="./img/flowers-image1-desktop@2x.jpg 2x, ./img/flowers-image1-desktop@1x.jpg 1x"
            type="image/jpg"
          />
          <source
            media="(min-width:768px)"
            srcset="./img/flowers-image1-tablet@2x.jpg 2x, ./img/flowers-image1-tablet@1x.jpg 1x"
            type="image/jpg"
          />
          <source
            media="(max-width:767.98px)"
            srcset="./img/flowers-image1-mobile@2x.jpg 2x, ./img/flowers-image1-mobile@1x.jpg 1x"
            type="image/jpg"
          />
          <img src="./img/flowers-image1-desktop@1x.jpg" alt="flowers" width="390" height="421" />
        </picture>
      </div>
      <div>
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="./img/flowers-image3-desktop@2x.jpg 2x, ./img/flowers-image3-desktop@1x.jpg 1x"
            type="image/jpg"
          />
          <source
            media="(min-width:768px)"
            srcset="./img/flowers-image3-tablet@2x.jpg 2x, ./img/flowers-image3-tablet@1x.jpg 1x"
            type="image/jpg"
          />
          <source
            media="(max-width:767.98px)"
            srcset="./img/flowers-image3-mobile@2x.jpg 2x, ./img/flowers-image3-mobile@1x.jpg 1x"
            type="image/jpg"
          />
          <img src="./img/flowers-image3-desktop@1x.jpg" alt="flowers" width="390" height="421" />
        </picture>
      </div>
      <p>Follow to our newsletter</p>
      <button data-modal-open>Subscribe</button>
    </div>
  </section>
</div>
