<section class="hero">
  <div class="container hero__container">
    <div class="hero__block">
      <h2 class="hero__title">flower studio</h2>
      <img
        class="hero__img"
        src="./images/image_home-page-mobile@1x.png 145w,
          ./images/image_home-page-mobile@2x.png 290w,
          ./images/image_home-page-tablet@1x.png 390w,
          ./images/image_home-page-tablet@2x.png 480w"
        sizes="(min-width: 767.98px) 390px, 100vw"
        srcset="images/image_home-page-mobile@1x.png"
        alt="hero_image"
      />
      <button class="hero__button">
        <svg class="hero__icon">
          <use href="./src/images/icons.svg#icon-arrow-store"></use>
        </svg>
      </button>
    </div>
    <h1 class="hero__header">ANEMONE</h1>
  </div>
</section>
