<section class="hero section section--hero-padding">
  <div class="container">
    <div class="hero__block">
      <h2 class="hero__title">flower studio</h2>
      <img
        class="hero__img"
        src="images/image_home-page-mobile@1x.png"
        srcset="
          ./images/image_home-page-mobile@1x.png         145w,
          ./images/image_home-page-mobile@2x.png         290w,
          ./images/image_home-page-desktop-tablet@1x.png 390w,
          ./images/image_home-page-desktop-tablet@2x.png 480w
        "
        sizes="(min-width: 767.98px) 390px, 100vw"
        alt="hero_image"
      />
      <button class="hero__button">
        <svg class="hero__icon">
          <use href="./images/icons.svg#icon-hero-store"></use>
        </svg>
      </button>
    </div>
    <div class="hero__header-block">
      <span class="hero__header-line"></span>
      <h1 class="hero__header">ANEMONE</h1>
    </div>
  </div>
</section>
