<!--inputy contact us modal-->
<div class="modal">
  <label class="modal__label"
    >Name
    <input
      class="modal__input"
      type="text"
      name="name"
      placeholder="Kristin Watson"
      required
      pattern="[A-Za-z ]{1,32}"
  /></label>

  <label class="modal__label"
    >Email<input
      class="modal__input"
      type="email"
      name="email"
      placeholder="tanya.hill@example.com"
      required
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      title="Musisz podać poprawny adres
  email"
  /></label>
</div>
<!--input newsletter modal-->
<div class="form">
  <label class="form__input-label"
    >Email
    <input
      class="form__input-newsletter"
      type="email"
      name="email"
      placeholder="Your email "
      required
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      title="Musisz podać poprawny adres email"
  /></label>
</div>
