<header class="menu">
  <div class="container menu__container">
    <a class="menu__logo" href="./index.html">
      <svg class="menu__logo">
        <use href="./images/icons.svg#icon-company-logo"></use>
      </svg>
    </a>
    <nav class="menu__nav">
      <ul class="menu__list">
        <li class="menu__item">
          <a class="menu__link" href="#">Anemone</a>
        </li>
        <li>
          <a class="menu__link" href="#">About us</a>
        </li>
        <li>
          <a class="menu__link" href="#">Store</a>
        </li>
        <li>
          <a class="menu__link" href="#">Delivery</a>
        </li>
        <li>
          <a class="menu__link" href="#">Blog</a>
        </li>
      </ul>
    </nav>
    <div class="menu__iconbox">
      <button type="button" class="menu__icon" data-modal-open>
        <svg class="menu__icon">
          <use href="./images/icons.svg#icon-tel"></use>
        </svg>
      </button>
      <button
        js-open-menu
        class="menu-toggle js-open-menu menu__icon"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="menu__icon-burger">
          <use href="./images/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
