<div class="js-menu-container mobile-menu" id="mobile-menu">
  <button class="js-close-menu mobile-menu__btn" id="menu-toggle">
    <svg class="icon-close">
      <use href="./images/icons.svg#icon-close-icon"></use>
    </svg>
  </button>
  <ul class="list mobile-menu__list">
    <li class="mobile-menu__item">
      <a href="#" class="mobile-menu__link mobile-menu__link--current">Anemone</a>
    </li>
    <li class="mobile-menu__item"><a href="#about-us" class="mobile-menu__link">About us</a></li>
    <li class="mobile-menu__item"><a href="#store" class="mobile-menu__link">Store</a></li>
    <li class="mobile-menu__item"><a href="#delivery" class="mobile-menu__link">Delivery</a></li>
    <li class="mobile-menu__item"><a href="#blog" class="mobile-menu__link">Blog</a></li>
  </ul>
</div>
