<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="mobile-menu">
    <button class="menu-toggle js-close-menu" id="menu-toggle">
      x
      <!-- <svg class="icon-close">
        <use href=".images/icons.svg#icon-tel"></use>
      </svg> -->
    </button>

    <ul class="mobile-menu__list">
      <li><a href="#anemone" class="mobile-menu__link">Anemone</a></li>
      <li><a href="#about-us" class="mobile-menu__link">About Us</a></li>
      <li><a href="#store" class="mobile-menu__link">Store</a></li>
      <li><a href="#delivery" class="mobile-menu__link">Delivery</a></li>
      <li><a href="#blog" class="mobile-menu__link">Blog</a></li>
    </ul>
  </div>
</div>
