<div data-modal class="backdrop is-hidden">
  <div class="modal">
    <div class="modal__form">
      <button type="button" class="close-btn" data-modal-close>
        <svg>
          <use href="./images/icons.svg#icon-close-icon"></use>
        </svg>
      </button>
      <header class="modal__header">Contact us</header>
      <div class="modal__body">
        <p class="modal__description">
          If you have any additional questions or you want to clarify something before you make an
          order please fill in your contact details. We will call you back.
        </p>

        <ul class="modal__list">
          <li class="modal__list__item">
             <label class="modal__label"
    >Name
    <input
      class="modal__input"
      type="text"
      name="name"
      placeholder="Kristin Watson"
      required
      pattern="[A-Za-z ]{1,32}"
  /></label>
          </li>
          <li class="modal__list__item">
  <label class="modal__label"
    >Email<input
      class="modal__input"
      type="email"
      name="email"
      placeholder="tanya.hill@example.com"
      required
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      title="Musisz podać poprawny adres
  email"
  /></label>
          </li>
        </ul>
        <div class="button-container">
          <button data-action="send" type="submit" class="button-popup">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
