<div data-modal1 class="subscribe is-hidden">
  <div class="modal-sub">
    <picture class="modal-sub--picture">
      <source
        media="(min-width:1280px)"
        srcset="
          ./images/modal-subscribe-desktop@1x.jpg 1x,
          ./images/modal-subscribe-desktop@2x.jpg 2x
        "
        type="image/jpeg"
      />
      <source
        media="(min-width:768px)"
        srcset="
          ./images/modal-subscribe-tablet@1x.jpg 1x,
          ./images/modal-subscribe-tablet@2x.jpg 2x
        "
        type="image/jpeg"
      />
      <source
        media="(max-width:767px)"
        srcset="
          ./images/modal-subscribe-mobile@1x.jpg 1x,
          ./images/modal-subscribe-mobile@2x.jpg 2x
        "
        type="image/jpeg"
      />
      <img
        src="./images/modal-subscribe-mobile@1x.jpg"
        alt="stylish bouquet of flowers"
        loading="lazy"
        max-width="428"
        max-height="528"
      />
    </picture>
    <!-- <img
      class="modal-sub--picture"
      src="./images/modal-subscribe-mobile@1x.jpg"
      srcset="
        ./images/modal-subscribe-mobile@2x.jpg   544w,
        ./images/modal-subscribe-tablet@1x.jpg   588w,
        ./images/modal-subscribe-tablet@2x.jpg  1176w,
        ./images/modal-subscribe-desktop@1x.jpg  428w,
        ./images/modal-subscribe-desktop@2x.jpg  856w
      "
      alt="bouquet of flowers"
      sizes="(min-width: 768px) 588px, (min-width: 1280px) 428px, 100vw"
    /> -->
    <button type="button" class="modal-sub__close-btn" data-modal-close1>
      <svg class="modal-sub__close-btn--image">
        <use href="./images/icons.svg#icon-close-icon"></use>
      </svg>
    </button>
    <div class="modal-sub__body">
      <p class="modal-sub__header">Follow to our newsletter</p>
      <p class="modal-sub__text">
        Be the first to get exclusive offers and the latest news on our product directly in your
        box.
      </p>
      <div class="modal-sub__form">
        <label class="form__label-newsletter"
          >Email
          <input
            class="form__input-newsletter"
            type="email"
            name="email"
            placeholder="Your email "
            required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            title="Musisz podać poprawny adres email"
        /></label>
      </div>
      <div class="modal-sub__button">
        <button
          data-modal-close1
          type="button"
          class="button-popup__newsletter"
          data-dismiss="modal"
        >
          Subscribe
        </button>
      </div>
    </div>
  </div>
</div>
