<section class="store section" id="store">
  <div class="container">
  <h2 class="section__title">STORE</h2>
  <ul class="store__list">
    <li class="store__item">
      <div class="store__gallery">
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="./images/bouquet1-desktop@2x.jpg 2x, ./images/bouquet1-desktop@1x.jpg 1x"
            type="images/jpg"
          />
          <source
            media="(min-width:768px)"
            srcset="./images/bouquet1-tablet@2x.jpg 2x, ./images/bouquet1-tablet@1x.jpg 1x"
            type="images/jpg"
          />
          <source
            media="(max-width:767px)"
            srcset="./images/bouquet1-mobile@2x.jpg 2x, ./images/bouquet1-mobile@1x.jpg 1x"
            type="images/jpg"
          />
          <img src="./images/bouquet1-desktop@1x.jpg" alt="flower size M" class="store__photo" />
        </picture>
        <h3 class="store__product-name">compliments</h3>
        <p class="store__price">from $15</p>
      </div>
    </li>
    <li class="store__item">
      <div class="store__gallery">
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="./images/bouquet2-desktop@2x.jpg 2x, ./images/bouquet2-desktop@1x.jpg 1x"
            type="images/jpg"
          />
          <source
            media="(min-width:768px)"
            srcset="./images/bouquet2-tablet@2x.jpg 2x, ./images/bouquet2-tablet-1x.jpg 1x"
            type="images/jpg"
          />
          <source
            media="(max-width:767px)"
            srcset="./images/bouquet2-mobile@2x.jpg 2x, ./images/bouquet2-mobile@1x.jpg 1x"
            type="images/jpg"
          />
          <img src="./images/bouquet2-desktop@1x.jpg" alt="flower size M" class="store__photo" />
        </picture>
        <h3 class="store__product-name">bouquets size S</h3>
        <p class="store__price">from $25</p>
      </div>
    </li>
    <li class="store__item">
      <div class="store__gallery">
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="./images/bouquet3-desktop@2x.png 2x, ./images/bouquet3-desktop@1x.png 1x"
            type="images/png"
          />
          <source
            media="(min-width:768px)"
            srcset="./images/bouquet3-tablet@2x.jpg 2x, ./images/bouquet3-tablet@1x.jpg 1x"
            type="images/jpg"
          />
          <source
            media="(max-width:767px)"
            srcset="./images/bouquet3-mobile@2x.jpg 2x, ./images/bouquet3-mobile@1x.jpg 1x"
            type="images/jpg"
          />
          <img src="./images/bouquet3-desktop@1x.png" alt="flower size M" class="store__photo" />
        </picture>
        <h3 class="store__product-name">bouquets size M</h3>
        <p class="store__price">from $45</p>
      </div>
    </li>
    <li class="store__item">
      <div class="store__gallery">
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="./images/bouquet4-desktop@2x.jpg 2x, ./images/bouquet4-desktop@1x.jpg 1x"
            type="images/jpg"
          />
          <source
            media="(min-width:768px)"
            srcset="./images/bouquet4-tablet@2x.jpg 2x, ./images/bouquet4-tablet@1x.jpg 1x"
            type="images/jpg"
          />
          <source
            media="(max-width:767px)"
            srcset="./images/bouquet4-mobile@2x.jpg 2x, ./images/bouquet4-mobile@1x.jpg 1x"
            e
            type="images/jpg"
          />
          <img src="./images/bouquet4-desktop@1x.jpg" alt="flower size M" class="store__photo" />
        </picture>
        <h3 class="store__product-name">bouquets size L</h3>
        <p class="store__price">from $60</p>
      </div>
    </li>
  </ul>
  <button type="button" class="button" data-modal-open>Order flowers</button>
  </div>
</section>
