.section__about {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  margin: 0;

  @media (min-width: 768px) {
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 54px;
  }
  @media (min-width: 1280px) {
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 90px;
  }
}
.section__about-us {
  max-width: 288px;
  height: 140px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: $text-color;
  margin-bottom: 16px;
  @media (min-width: 768px) {
    max-width: 322px;
    height: 168px;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 56px;
    margin-right: 54px;
    margin-bottom: 23px;
  }
  @media (min-width: 1280px) {
    max-width: 510px;
    height: 135px;
    font-size: 22px;
    line-height: 1.22;
    margin-top: 120px;
    margin-right: 90px;
    margin-bottom: 115px;
  }
}
.section__about-img {
  width: 288px;
  height: 178px;
  border-radius: 0px 639.5px 639.5px 0px;
  @media (min-width: 768px) {
    width: 344px;
    height: 217px;
    margin-top: 30px;
  }
  @media (min-width: 1280px) {
    width: 632px;
    height: 344px;
    margin-top: 26px;
  }
}
