.delivery {
  display: flex;
  flex-direction: column;

  &__list {
    display: flex;
    gap: 8px;
    flex-direction: column;
    margin-bottom: 26px;
    @media screen and (min-width: 768) {
      margin-bottom: 40px;
      gap: 20px;
    }
    @media screen and (min-width: 1280) {
      margin-bottom: 60px;
      gap: 32px;
    }
  }
  &__item {
    display: flex;
    font-family: var(--font-primary);
    list-style: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color: var(--text-color);
    gap: 8px;
    align-items: center;
    width: 100%;
    min-height: 51px;
    @media screen and (min-width: 768) {
      gap: 20px;
      font-size: 24px;
    }
    @media screen and (min-width: 1280) {
      gap: 56px;
      font-size: 32px;
    }
  }
  &__number {
    display: flex;
    width: 40px;
    height: 40px;
    opacity: 1;
    color: var(--text-color);
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    border: 1px solid var(--text-color);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    gap: 8px;
    @media screen and (min-width: 768) {
      gap: 20;
      font-size: 26px;
      width: 64px;
      height: 64px;
    }
  }
  &__text {
    display: flex;
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color: var(--text-color);
    letter-spacing: normal;
    width: calc(100% - 48px);
    @media screen and (min-width: 768) {
      font-size: 24px;
      width: calc(100% - 84px);
    }
    @media screen and (min-width: 1280) {
      font-size: 32px;
      width: calc(100% - 120px);
    }
  }
}
