.menu {
  padding: 16px 16px 0 16px;
  &__logo {
    width: 45px;
    height: 35px;
    fill: #000;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    display: none;
  }
  &__icon {
    width: 22px;
    height: 22px;
    fill: #000;
    background-color: #fff;
  }
  &__icon-burger {
    width: 24px;
    height: 24px;
    fill: #000;
    background-color: #fff;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    padding: 24px 24px 0 24px;
    &__logo {
      width: 72px;
      height: 57px;
    }
    &__container {
      justify-content: center;
    }
    &__list {
      display: flex;
      justify-content: space-between;
      gap: 24px;
      padding: 0 76px 0 80px;
    }
    &__link {
      font-weight: 400;
      font-size: 20px;
      line-height: 1.2;
      color: #000;
    }
    &__icon-burger {
      display: none;
    }
  }
}
@media screen and (min-width: 1280px) {
  .menu {
    padding: 28px 28px 0 28px;
    &__logo {
      width: 72px;
      height: 57px;
    }
    &__container {
      justify-content: center;
    }
    &__list {
      display: flex;
      justify-content: space-between;
      gap: 48px;
      padding: 0 308px 0 261px;
    }
    &__link {
      font-weight: 400;
      font-size: 20px;
      line-height: 1.2;
    }
    &__icon-burger {
      display: none;
    }
  }
}
