.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $primary-orange-color;
  color: $primary-white-color;
  display: flex;
  flex-direction: column;
  transform: translateX(-150%);
  z-index: 9;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu__btn {
  display: flex;
  position: relative;
  top: 22px;
  right: 22px;
  justify-content: right;
  align-items: center;
  margin-top: 22px;
  margin-right: 22px;
  background-color: $primary-orange-color;
  border: none;
}

.icon-close {
  stroke: $primary-white-color;
  background-color: $primary-orange-color;
  border: none;
  width: 24px;
  height: 24px;

  & svg {
    padding: 6px;
  }
}

.mobile-menu__list {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-items: center;
}

.mobile-menu__link {
  text-decoration: none;
  font-family: $font-primary;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: $primary-white-color;
  transform: scale(1);
  transition: font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    font-size: 21px;
  }
}
