
  $primary-orange-color: #e86f54;
  $hover-orange-color: #e25b41;
  $focus-orange-color: #fa6f54;
  $text-color: #000000;
  $secondary-text-color: #5c5c5c;
  $primary-white-color: #ffffff;
  $font-primary: 'Montserrat', sans-serif;
  $font-secondary: 'Inter', sans-serif;
  $icon-primary-color: #afb1b8;

